Source: ad-r1m-system
Maintainer: Analog Devices <SDP_Enablement@analog.com>
Uploaders: Ioan Dragomir <ioan.dragomir@analog.com>
Section: embedded
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.2
Homepage: https://github.com/analogdevicesinc/ad_r1m
Vcs-Browser: https://github.com/analogdevicesinc/ad_r1m
Vcs-Git: https://github.com/analogdevicesinc/ad_r1m.git
Priority: optional

Package: ad-r1m-system-rpi5
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
 gpiod,
 docker-ce (>= 23.0) | docker.io (>= 23.0),
 docker-compose,
 can-utils,
 bc,
 libiio0,
 sshpass
Description: AD-R1M system setup for default hardware variant
 Set up host system to support the AD-R1M software stack for the default
 hardware variant:
 .
   * Raspberry Pi 5 with ADRD4161 carrier
   * ADRD3161
   * ADRD5161

