[Unit]
Description=AD-R1M ToF camera initialization
PartOf=ad-r1m.target
Before=ad-r1m.target
Requires=dev-media0.device

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/ad-r1m/tof.sh

[Install]
WantedBy=ad-r1m.target
