[Unit]
Description=AD-R1M ROS 2 bringup
Requires=docker.service ad-r1m.target
After=ad-r1m.target
PartOf=ad-r1m.target

[Service]
WorkingDirectory=/usr/share/ad-r1m/default-config
ExecStart=docker compose --env-file ad-r1m.env up

[Install]
WantedBy=multi-user.target
