# BEGIN ad-r1m-system-rpi5
[all]
# ToF camera pulls too much current right at its startup, allow it to do so
usb_max_current_enable=1

# ADIS16470 IMU
dtoverlay=adis16475,device=adis16470,drdy_pin=4,reset_pin=25,sync_mode=0

# UART0 = slcan, UART4 = CRSF
dtoverlay=uart0,ctsrts
dtoverlay=uart4
# END ad-r1m-system-rpi5

